@import "rawline.scss";
@import "menu.scss";

/* Menu button adjustments */
@media (min-width: $menu-breakpoint) {
    #show-navigation {
        display: none;
    }
}

@media (max-width: $menu-breakpoint) {
    #fake-navigation {
        display: none;
        cursor: pointer;
    }
}

/* Menu logo adjustments */
@media (max-width: $menu-breakpoint) {
    .br-menu {
       --menu-logo: 24px;
    }
}
.br-header .header-logo img {
    min-width: 60px;
}

/* TOC and search results */

.toctree-wrapper {
    & .caption {
        font-weight: var(--font-weight-semi-bold);
    }
    & ul > li > span strong {
        font-weight: var(--font-weight-semi-bold);
    }
}

@media (min-width: 576px) {
    .toctree-wrapper ul > li a,
    .toctree-wrapper ul > li > span,
    #search-results ul > li a {
        font-size: var(--font-size-scale-up-01);
        margin-bottom: var(--spacing-scale-base);
        display: inline-block;
    }
}

.highlight pre {
    text-wrap: wrap;
}

#main-content {
    a.br-button span {
        margin-top: -.25em;
    }
}

#main-content section {
    scroll-margin-top: 7.5em;

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        display: flex;
        flex-direction: row;
        align-content: center;

        & > a:hover {
            background-image: none !important;
        }

        a.headerlink {
            visibility: hidden;
            opacity: 0;
            transition: opacity 100ms ease-in-out;
            font-size: .8em;
            margin-left: .2em;
        }

        &:hover a.headerlink {
            visibility: visible;
            opacity: 1;
        }
    }

    & code .pre {
        background: transparent;
        margin: unset;
        padding: unset;
        color: var(--green-cool-vivid-70);
    }

    table.docutils {
        margin-bottom: var(--spacing-scale-2x);

        &, p, a {
            font-size: var(--font-size-scale-base);
        }

        p:last-child {
            margin-bottom: 0;
        }

        th > * {
           font-weight: var(--font-weight-semi-bold);
        }
    }

    div.highlight pre {
        font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
        margin: var(--spacing-scale-2x) 0 var(--spacing-scale-2x);
    }

    span.xref {
        color: var(--red-cool-vivid-60);
        text-decoration-style: wavy;
        text-decoration-color: var(--red-cool-vivid-60);
        text-decoration-thickness: 1px;
        text-decoration-line: underline;
    }
}

@media (min-width: 576px) {
    .br-breadcrumb {
        font-size: var(--font-size-scale-base);
    }
}

.br-header .header-search .br-input input:not(:focus),
.br-header.compact .header-search .br-input input:not(:focus) {
  background: var(--color-secondary-03);
}

.br-header[data-sticky] {
    transition: none;
}

.br-header.secondary {
    padding-bottom: 0;
    box-shadow: none;
    z-index: var(--z-index-layer-2);
}

.br-header.primary {
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: var(--z-index-layer-1);
}
