

@media (min-width: 576px) {
    #show-navigation {
        display: none;
    }
}

@media (max-width: 576px) {
    #fake-navigation {
        display: none;
        cursor: pointer;
    }
    .br-menu {
       --menu-logo: 24px;
    }
}

.br-header .header-logo img {
    min-width: 60px;
}

h1 .headerlink,
h2 .headerlink,
h3 .headerlink,
h4 .headerlink,
h5 .headerlink,
h6 .headerlink {
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    font-size: .8em;
    margin-left: .2em;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    visibility: visible;
    opacity: 1;
}

/* TOC and search results */

.toctree-wrapper ul > li > span strong {
    font-weight: var(--font-weight-semi-bold);
}

@media (min-width: 576px) {
    .toctree-wrapper ul > li a,
    .toctree-wrapper ul > li > span,
    #search-results ul > li a {
        font-size: var(--font-size-scale-up-01);
        margin-bottom: var(--spacing-scale-base);
        display: inline-block;
    }
}

.toctree-wrapper .caption {
    font-weight: var(--font-weight-semi-bold);
}

.highlight pre {
    text-wrap: wrap;
}

#main-content a.br-button span {
    margin-top: -.25em;
}

#main-content section > h1,
#main-content section > h2,
#main-content section > h3,
#main-content section > h4,
#main-content section > h5,
#main-content section > h6 {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#main-content section > h1 > a:hover,
#main-content section > h2 > a:hover,
#main-content section > h3 > a:hover,
#main-content section > h4 > a:hover,
#main-content section > h5 > a:hover,
#main-content section > h6 > a:hover {
    background-image: none !important;
}

#main-content section code .pre {
    background: transparent;
    margin: unset;
    padding: unset;
    color: var(--green-cool-vivid-70);
}

#main-content section table.docutils {
    margin-bottom: var(--spacing-scale-2x);
}

#main-content section table.docutils,
#main-content section table.docutils p,
#main-content section table.docutils a {
    font-size: var(--font-size-scale-base);
}

#main-content section table.docutils p:last-child {
    margin-bottom: 0;
}

#main-content section table.docutils th > * {
    font-weight: var(--font-weight-semi-bold);
}

#main-content section div.highlight pre {
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    margin: var(--spacing-scale-2x) 0 var(--spacing-scale-2x);
}

#main-content section span.xref {
    color: var(--red-cool-vivid-60);
    text-decoration-style: wavy;
    text-decoration-color: var(--red-cool-vivid-60);
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
}